# data
dataset = omni
image_dir = ../datasets/omni/kitchen/images
# ckpt_dir = ../datasets/omni/kitchen/ckpts/vqae/siglip2_sam_vq/
# ckpt_num = 50
# codebook
# feat_type = pyrsiglip2
# feat_type = siglip2_sam
feat_type = siglip2_sam_vq
dino_weight = 0.5
load_balance_weight = 1.0
feat_dim = 768
n_e = 1024
e_dim = 16
beta = 0.25
# train
batch_size = 8192
epoch = 500
save_interval = 50