# data
dataset = omni
image_dir = ../datasets/omni/kitchen/images
# ckpt_dir = ../datasets/omni/kitchen/ckpts/pyrsiglip2
# ckpt_num = 1000
# codebook
feat_type = pyrclip
dino_weight = 0.5
load_balance_weight = 1.0
feat_dim = 512
e_dim = 3
# train
batch_size = 128
epoch = 500
