# data
dataset = omni
image_dir = ../datasets/omni/kitchen_refri_masktest/images
model_type = siglip2
dino_weight = 0.5
load_balance_weight = 1.0
feat_dim = 768
e_dim = 3
# train
method = ae
batch_size = 128
epoch = 500
    